Unchecked assumption that leaf  signature algorithm is PKCS#1 v1.5 with RSA-SHA256

The `verifySignedX509()` function will call `verifyChildCert()` to perform signature validation on the leaf certificate using PKCS#1 v1.5 with RSA-SHA256. However, there is no check in `verifySignedX509()` that the `algorithm` field of the `signature` of the leaf certificate matches `sha256WithRSAEncryption`.

## Impact

If the Intel Attestation Service issues new certificates that are signed with an algorithm other than PKCS#1 v1.5 with RSA-SHA256, then `verifyChildCert()` will still attempt to use the algorithm. This creates the (very low probability) risk of the certificate being accepted when it should not be.

## Recommendation

`verifySignedX509()` should be modified to also check the `signatureAlgorithm`. This can be implemented implicitly by also fixing [[PKCS#1 v1.5 signature verification implementation does not check padding](https://www.notion.so/PKCS-1-v1-5-signature-verification-implementation-does-not-check-padding-d3e1486ba96c474499ba4c9cb67991e6?pvs=21)](https://www.notion.so/PKCS-1-v1-5-signature-verification-implementation-does-not-check-padding-d3e1486ba96c474499ba4c9cb67991e6?pvs=21), as the padding will also contain information identifying the signature algorithm that is used. Otherwise, the contents octets of the `signatureAlgorithm` should explicitly be compared with `2A 86 48 86 F7 0D 01 01 0B` ([[as defined in IETF RFC 4055 section 6](https://datatracker.ietf.org/doc/html/rfc4055#section-6)](https://datatracker.ietf.org/doc/html/rfc4055#section-6)).

Fixed this issue.