Unchecked assumption that X.509 leaf public key algorithm is RSA

The `verifySignedX509()` function will perform validation on the X.509 certificate and then extract the RSA modulus and exponent of the `subjectPublicKey`. However, it does not check that the `algorithm` field of the `subjectPublicKeyInfo` matches the RSA algorithm. Based on a sample signing certificate provided by the developers, the `algorithm` is likely supposed to be `rsaEncryption`.

## Impact

If the Intel Attestation Service issues new certificates that use an algorithm other than RSA, then the RSA modulus and exponent extraction steps in `verifySignedX509()` will return bogus results. Consequently, it is likely that signature verification of the report will fail and cause a `BadReportSignature` error to be thrown.

## Recommendation

The developers should insert checks that the `algorithm` field of the `subjectPublicKeyInfo` in the leaf certificate is the constant equal to `rsaEncryption` (see definition in [[IETF RFC 4055 section 6](https://datatracker.ietf.org/doc/html/rfc4055#section-6)](https://datatracker.ietf.org/doc/html/rfc4055#section-6)). Specifically, the content octets of `algorithm` should be equal to `2A 86 48 86 F7 0D 01 01 01`. The contract should throw an error if the `algorithm` does not match the expected value.

Now checking for the sequence.