PKCS#1 v1.5 signature verification implementation is flawed

The `verifyChildCert()` function in `X509Verifier` verifies that an X509 certificate was signed by a supplied public key.  First, the function uses the parent’s RSA public key to decrypt the signature, resulting in a byte buffer. The last 32 bytes are then matched against the SHA256 hash of the body of the given `childCertBody`.

Based on a sample signing certificate chain provided by the developer, it appears that `verifyChildCert` is a flawed implementation of the PKCS#1 v1.5 signature verification scheme with RSA-SHA256. Compared to the actual algorithm specified in [[section 8.2.2 of RFC 8017](https://datatracker.ietf.org/doc/html/rfc8017#section-8.2.2)](https://datatracker.ietf.org/doc/html/rfc8017#section-8.2.2), we have identified at least two flaws in RAVe’s implementation.

First, the algorithm requires that the number of octets (bytes) of the signature matches the number of octets (bytes) of the modulus. However, there is no such check.

Second, the decrypted signature is an “encoded message” consisting of some padding concatenated with an identifier of the signature algorithm used and the SHA256 hash of the certificate. The actual algorithm reconstructs the encoded message and then compares it to the decrypted version to perform the verification. RAVe’s implementation, however, only checks the SHA256 hash of the encoded signature; the padding prepended to the hash is ignored.

> Definition of `verifyChildCert`
> 
> 
> ```solidity
> /*
>  * @dev Verifies an x509 certificate was signed (RSASHA256) by the supplied public key. 
>  * @param childCertBody The DER-encoded body (preimage) of the x509   child certificate
>  * @param certSig The RSASHA256 signature of the childCertBody
>  * @param parentMod The modulus of the parent certificate's public RSA key
>  * @param parentExp The exponent of the parent certificate's public RSA key
>  * @return Returns true if this childCertBody was signed by the parent's RSA private key
>  */
> function verifyChildCert(
>   bytes memory childCertBody,
>   bytes memory certSig,
>   bytes memory parentMod,
>   bytes memory parentExp
> ) public view returns (bool) {
>   // Recover the digest using parent's public key
>   (bool success, bytes memory res) = RSAVerify.rsarecover(parentMod, parentExp, certSig);
>   // Digest is last 32 bytes of res
>   bytes32 recovered = res.readBytes32(res.length - 32);
>   return success && recovered == sha256(childCertBody);
> }
> ```
> 

An identical implementation is in the `RAVEBase.verifyReportSignature()` function, except that a report returned by the Intel Attestation Service is verified instead of an X.509 certificate. This implementation is similarly flawed in that it does not check the padding.

> Definition of `verifyReportSignature`
> 
> 
> ```solidity
> /**
>  * @inheritdoc IRave
>  */
> function verifyReportSignature(
>   bytes memory report,
>   bytes calldata sig,
>   bytes memory signingMod,
>   bytes memory signingExp
> ) public view returns (bool) {
>   // Use signingPK to verify sig is the RSA signature over sha256(report)
>   (bool success, bytes memory got) = RSAVerify.rsarecover(signingMod, signingExp, sig);
>   // Last 32 bytes is recovered signed digest
>   bytes32 recovered = got.readBytes32(got.length - 32);
>   return success && recovered == sha256(report);
> }
> ```
> 

## Impact

The difficulty of forging a valid signature is lower than it should be due to the missing checks. In the current implementation, an attacker can forge a signature by finding a signature such that the last 32 bytes of the decrypted signature will match the SHA256 hash of the report or certificate. In contrast, the actual algorithm would require all bytes of the decrypted signature to match the padding and the SHA256 hash. This may be made easier by the missing signature length check, where an attacker could potentially insert extra bytes into the signature.

There are many well-known, similar vulnerabilities related to flawed PKCS#1 v1.5 implementations that do not validate all parameters correctly. These vulnerabilities have been exploited in the past to forge signatures, as can found be in [[Bleichenbacher’s e=3 attack](https://mailarchive.ietf.org/arch/msg/openpgp/5rnE9ZRN1AokBVj3VqblGlP63QE/)](https://mailarchive.ietf.org/arch/msg/openpgp/5rnE9ZRN1AokBVj3VqblGlP63QE/) and similar variants such as [[BERserk](https://bugzilla.mozilla.org/show_bug.cgi?id=1064670)](https://bugzilla.mozilla.org/show_bug.cgi?id=1064670).

## Recommendation

The developers should change `verifyChildCert()` and `verifyReportSignature()` to check the full decrypted message; we refer the developers to [[section 9.2 of IETF RFC 8017](https://datatracker.ietf.org/doc/html/rfc8017#section-9.2)](https://datatracker.ietf.org/doc/html/rfc8017#section-9.2) for the details. Note that the padding also includes the algorithm identifier, which is likely to be `sha256WithRsaEncryption` (for both `verifyChildCert()` and `verifyReportSignature()`) based on the the sample signing certificate chain and the IAS documentation (respectively).

Implemented the PKCS#1 algorithm from the spec. It's used where its needed in the verification process. I think there are still parts that just use sha256-rsa but this is consistent with how certificate sigs were done so it still validates.